body {
    background-color: bisque;
}

h1 {
    text-align: center;

}

.wall {
    min-height: 380px;
    max-width: 850px;
    border: 15px solid black;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    align-items: center;
    flex-wrap: wrap;
    
    
}


}

.wall div {
    margin: 5px;
}



img {
    height: 100px;
    width: 80px;
   
    -moz-box-shadow: -5px -5px #777777;
    -webkit-box-shadow: -5px -5px #777777;
    box-shadow: -5px -5px #777777;
}


}